.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-button.svg);
  background-size: 32px;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: .2s linear;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__close-button {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}