.profile__about {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  margin: 0;
  padding: 0;
  grid-row: 2;
  grid-column: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
