.profile {
  max-width: 880px;
  height: fit-content;
  margin: 0 auto 51px;
  padding: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
    margin-bottom: 36px;
  }
}