.start-form__submit-button {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  border: none;
  background-color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: linear .1s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .start-form__submit-button {
    width: 260px;
    height: 46px;
  }
}

.start-form__submit-button:hover {
  cursor: pointer;
  opacity: .85;
}