.start-form__link {
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  transition: linear .1s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .start-form__link {
    margin-top: 20px;
    width: 260px;
  }
}

.start-form__link:hover {
  opacity: .6;
}