.element__delete-button {
  width: 19px;
  height: 19px;
  border: none;
  background-image: url(../../../images/remove-button.svg);
  background-color: transparent;
  background-size: 19px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: .2s linear;
  cursor: pointer;
}

.element__delete-button:hover {
  opacity: .6;
}